.container {
  margin: auto;
  display: flex;
    justify-content: center;
  width: 100%;
}

h1 {
  color: #1e3a8a;
  font-size: 60px;
  font-family: "Dancing Script", cursive;
}

h2 {
  font-weight: lighter;
  font-family: "Dancing Script", cursive;
}

.paragraph {
    width: 40%;
    background-color: aqua;
}

.paragraph p {
    text-align: center;
    text-transform: capitalize;
    line-height: 1,5;
    letter-spacing: 4px;
}




    